<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>float property</title>
        <link rel="stylesheet" type="text/css" href="../css/float.css">
</head>
<body>
	<section>
		<div class="left">1</div>
		<div class="right">2</div>
		<p>
			Cascading Style Sheets (CSS) is used to style the content of a web page. There are multiple ways in which CSS can be used with HTML page.
			CSS provides lot of selectors. Selectors can be used in targeting the HTML elements in a web page in different ways and providing different styling to the elements.
			Browser provides some default styling for paragraph, h1 and anchor tags. It is possible to change the default browser styling using CSS. Reset and normalize can be used to nullify browser styling. 
			CSS also helps in making the web pages dynamic. Lot of things like can be achieved using CSS without the need of external software's/plug ins.
		</p>
	</section>
</body>
</html>