#myDIV 
{ 
	border: 15px solid transparent; 
	border-image: url(../images/border.jpg); 
	border-image-slice: 30; 
	border-image-repeat: round; 
	border-image-outset:10px; 
	height: 50px; 
	padding: 15px; 
	width: 200px; 
} 

/* Here in the above code snippet:
Line 8 : The border-image extends 10px beyond the border. */
