div {
    /* Solid Border */
    /* border: 2px solid lightgrey; */

    /* Dashed Border */
    /* border: 3px dashed lightgrey; */

    /* Border Radius */
    border: lightgrey dashed 3px;
    border-radius: 30px 15px 25px 50px;

    /* Width & Height */
    /* border: lightgrey dashed 3px;
    width: 220px;
    height: 125px; */
  }